@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #121212;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -moz-user-select: none; /* firefox */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE */
  user-select: none; /* Standard syntax */
}